@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Cinzel', serif;
    color: #D8973C;
    background-color: #D8973C;
}


.header {
    display: flex;
    justify-content: center;
    padding: 25px 0px;
    font-size: 48px;
    width: 100%;
    background-color: #273E47;
}

body {
    display: flex;
    flex-direction: column;
    
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-content: space-between; */
    height: 100%;
}

.calc-container {
    margin-top: auto;
    height: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.calc-screen {
    display: flex;
    flex-direction: column;
    height: 100px;
    box-shadow: 1px 1px 8px 5px #273E47 inset;
    align-items: center;
    width: 100%;
    color: #75350f;
}

.calc-screen-top {
    padding-top: 5px;
    margin-bottom: auto;
    font-size: 24px;
}


.calc-screen-bottom {
    font-size: 35px;
    padding-bottom: 5px;
}

.calc-buttons {
    /* font-size: 48px; */
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    width: auto;
    
}
button {
    font-family: 'Cinzel', serif;
    background-color: #D8C99B;
    border: #273E47 5px solid;
    color: #75350f;
    font-size: 35px;
}

.calc-button {
    font-size: 36px;
    height: 100px;
    width: 100px;
    
}

.equal {
    flex: 1 1 0;
}

.footer {
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 25px 0px;
    align-items: baseline;
    background-color: #273E47;
    width: 100%;
    justify-content: center;
    align-items: baseline;
    font-size: 20px;
    margin-top: auto;
}

a,
a:hover,
a:visited {
    text-decoration: none;
    color: #C19875;
}

.footer-link {
    font-size: 24px;
    transition: all ease-in-out 0.5s;
    color: #C19875;
}

.footer-link:hover {
    transition: all ease-in-out 0.5s;
    transition-duration: 0.2s;
    transform: scale(1.02);
    color: #f7c498;
}

button:hover {
    background-color: #C19875;
    transition: all ease-in-out 0.1s;
}

button:active {
    font-size: 42px;
    transition: all ease-in-out 0.1s;
}