html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    /* cursor:none; */
    /* background-color: grey; */
}


.header {
    display: flex;
    justify-content: center;
    padding: 25px 0px;
    font-size: 36px;
    border-bottom: 1px black solid;
}

body {
    display: flex;
    flex-direction: column;
}

.body-container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.calc-container {
    height: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calc-screen {
    display: flex;
    flex-direction: column;
    height: 100px;
    border: black 1px solid;
    align-items: center;
    width: 100%;
}

.calc-screen-top {
    padding-top: 10px;
    margin-bottom: auto;
    font-size: 24px;
}


.calc-screen-bottom {
    font-size: 35px;
    padding-bottom: 10px;
}

.calc-buttons {
    /* font-size: 48px; */
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    width: auto;
}

.calc-button {
    font-size: 28px;
    height: 100px;
    width: 100px;
}

.equal {
    flex: 1 1 0;
}

.footer {
    display: flex;
    padding-bottom: 20px;
}